    /* sidebar */
		/* FONTS */
		@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

		:root {
			--nav--width: 92px;

			/* Colores */
			--first-color: rgb(171, 138, 220);;
			--bg-color: #c0afd9;
			--sub-color: #553d58;
			--white-color: #f2f2f2;

			/* Fuente y tipografia */
			--body-font: 'Poppins', sans-serif;
			--normal-font-size: 1rem;
			--small-font-size: .875rem;

			/* z index */
			--z-fixed: 100;
		}

		/* BASE */
		*, ::before, ::after {
			box-sizing: border-box;
		}
		body {
			position: relative;
			margin: 0;
			padding: 2rem 0 0 6.75rem;
			font-family: var(--body-font);
			font-size: var(--normal-font-size);
			transition: .5s;
		}
		h1 {
			margin: 0;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		a {
			text-decoration: none;
		}
		.l-navbar {
			position: fixed;
			top: 0;
			left: 0;
			width: var(--nav--width);
			height: 100vh;
			background-color: var(--bg-color);
			color: var(--white-color);
			padding: 1.5rem 1.5rem 2rem;
			transition: .5s;
			z-index: var(--z-fixed);
		}
		.nav {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
		}
		.nav__brand {
			display: grid;
			grid-template-columns: max-content max-content;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;
		}
		.nav__toggle {
			font-size: 1.25rem;
			padding: .75rem;
			cursor: pointer;
		}
		.nav__logo {
			color: var(--white-color);
			font-weight: 600;
		}
		.nav__link {
			display: grid;
			grid-template-columns: max-content max-content;
			align-items: center;
			column-gap: .75rem;
			padding: .75rem;
			color: var(--white-color);
			border-radius: .5rem;
			margin-bottom: 1rem;
			transition: .3s;
			cursor: pointer;
		}
		.nav__link:hover {
			background-color: var(--first-color);
		}
		.nav__icon {
			font-size: 1.25rem;
		}
		.nav_name {
			font-size: var(--small-font-size);
		}
		.expander {
			width: calc(var(--nav--width) + 9.25rem);
		}
		.body-pd {
			padding: 2rem 0 0 16rem;
		}
		.active {
			background-color: var(--first-color);
		}
		.collapse {
			grid-template-columns: 20px max-content 1fr;
		}
		.collapse__link {
			justify-self: flex-end;
			transition: .5;
		}
		.collapse__menu {
			display: none;
			padding: .75rem 2.25rem;
		}
		.collapse__sublink {
			color: var(--sub-color);
			font-size: var(--small-font-size);
		}
		.collapse__sublink:hover {
			color: var(--white-color);
		}
		.showCollapse {
			display: block;
		}
		.rotate {
			transform: rotate(180deg);
			transition: .5s;
		}

		body {
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		}
		a {
			text-decoration: none; 
		}
		img {
			display: block;
		}
		.inner { 
			width: 1100px;
			margin: 0 auto;
			position: relative;
		}
		header {
			width: 100%;
			position: fixed;
			top: 0;
			z-index: 9;
			background-color: #f2f2f2;
			border-bottom: 1px solid #c8c8c8;
		}
		header .inner {
			height: 120px;
		}
		header .logo {
			height: 75px;
			position: absolute;
			top: 12.4px;
			bottom: 0;
			left: 10px; 
			margin: 0 auto;
		}
		h2 {
			color: #2C2A29;
			font-size: 1.8em;
			position: absolute;
			top: 40px;
			left: 150px;
			font-family: 'Merriweather', serif;
		}
		.sub-menu {
			position: absolute;
			width: 370px;
			top: 10px;
			right: 0;
			display: flex;
			background-color: #c0afd9;
			border-radius: 15px;
		}
		.sub-menu ul.menu {
			font-family: Arial, sans-serif;
			display: flex;
			list-style: none;
		}
		.sub-menu ul.menu li {
			position: relative;
		}

		.sub-menu ul.menu li a {
			padding: 11px 16px;
			display: block;
			font-size: 13px;
			color: #f2f2f2;
		}
		.sub-menu ul.menu li a:hover {
			color: #808080;
		}
		.sub-menu .search {
			position: relative;
			height: 34px;
			margin: auto;
		}
		.sub-menu .search input {
			width:190px;
			height: inherit;
			padding: 4px 10px;
			border: 1px solid #ccc;
			box-sizing: border-box;
			border-radius: 5px;
			outline: none;
			background-color: #fff;
			color: #777;
			font-size: 12px;
			}
		.sub-menu .search .material-icons {
			height: 24px;
			position: absolute;
			top: 5px;
			bottom: 0;
			right: 5px;
			margin: 0 auto;
		}

		/*메인메뉴*/
		.main-menu {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			display: flex;
		}
		.main-menu .item .item__name {
			padding: 10px 20px 34px 20px;
			font-family: Arial, sans-serif;
			font-size: 13px;
		}
		.main-menu .item:hover .item__name {
			background-color: #2C2A29;
			color: lightgray;
			border-radius: 6px 6px 0 0;
		}
		.main-menu .item .item__contents {
			width: 120%;
			position: fixed;
			left: 0px;
			display: none;
		}
		.main-menu .item:hover .item__contents {
			display: inline-block;
		}
		.main-menu .item .item__contents .contents__menu {
			background-color: #2C2A29;
		}
		.main-menu .item .item__contents .contents__menu > ul {
			padding: 20px 0;
			display: flex;
			position: relative;
			left: 120px;
		}
		.main-menu .item .item__contents .contents__menu > ul > li {
			width: 220px;
		}
		.main-menu .item .item__contents .contents__menu > ul > li h4 {
			padding: 3px 0 12px 0;
			font-size: 14px;
			color: #fff;
		}
		.main-menu .item .item__contents .contents__menu > ul > li ul li {
			padding: 5px 0;
			font-size: 12px;
			color: #999;
			cursor: pointer;
		}
		.main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
			color: #fff;
		}
		.main-menu .item .item__contents .contents__texture {
			padding: 26px 0;
			font-size: 12px;
			background-color: #2C2A29;;
		}
		.main-menu .item .item__contents .contents__texture h4 {
			color: #999;
			font-weight: 900;
		}
		.main-menu .item .item__contents .contents__texture p {
			color: #fff;
			margin: 4px 0 14px;
		}

		.visual {
		margin-top: 120px;
		background-position: center;
		}
		.visual .inner {
		height: 646px;
		position: relative;
		}
		.visual .title {
		position: absolute;
		top: 43px;
		left: -40px;
		}

		/*배지*/
		header .badges {
		position: absolute;
		top: 152px;
		right: 12px;
		}
		header .badges .badge {
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 12px;
		box-shadow: 4px 4px 10px rgba(0,0,0,.15);
		cursor: pointer;
		}


		.scale {
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transition: all 0.3s ease-in-out;
			}
		.scale:hover {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			}

		html, body {
			margin: 0;
			padding: 0;
			}
		#wrap {
			min-height: 12.5vh;
			position: relative;
			width: 100%; 
			background-color: #f2f2f2;
			}
		section {
			padding-bottom: 105px;
			}
		footer {
			width: 100%;
			height: 90px;
			bottom: 0px;
			position: absolute;
			border-top: 1px solid #c4c4c4;
			padding-top: 25px;
			color: #808080;
			font-size: 11px;
			}
		footer a {
			display: inline-block;
			margin: 0 20px 10px 20px;
			color: #808080;
			font-size: 11px;

			position: relative;
			bottom: 17px;
			left: 100px;
			}
		footer a:visited {
			color: #808080;
			}
		footer p {
			margin-top: 0;
			margin-bottom: 0; 

			position: absolute;
			bottom: 11px;
			left: 100px;
			}
		footer p span {
			display: inline-block;
			margin-left: 20px;
			}

			@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
			@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
			figure.bbb {
			position: relative;
			top: -438px;
			right: -810px;
			font-family: 'Raleway', Arial, sans-serif;
			position: relative;
			overflow: hidden;
			margin: 10px;
			min-width: 230px;
			max-width: 315px;
			width: 100%;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background-color: #000;
			border-radius: 20px 40px 60px 80px / 80px 60px 40px 20px;
			}
			figure.bbb *,
			figure.bbb *:before,
			figure.bbb *:after {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.55s ease;
			transition: all 0.55s ease;
			}
			figure.bbb img {
			max-width: 100%;
			backface-visibility: hidden;
			vertical-align: top;
			opacity: 0.9;
			}
			figure.bbb .title {
			position: absolute;
			top: 58%;
			left: 25px;
			padding: 5px 10px 10px;
			}
			figure.bbb .title:before,
			figure.bbb .title:after {
			height: 2px;
			width: 400px;
			position: absolute;
			content: '';
			background-color: #fff;
			}
			figure.bbb .title:before {
			top: 0;
			left: 10px;
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			}
			figure.bbb .title:after {
			bottom: 0;
			right: 10px;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			}
			figure.bbb .title div:before,
			figure.bbb .title div:after {
			width: 2px;
			height: 300px;
			position: absolute;
			content: '';
			background-color: #fff;
			}
			figure.bbb .title div:before {
			top: 10px;
			right: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			}
			figure.bbb .title div:after {
			bottom: 10px;
			left: 0;
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			}
			figure.bbb h4 {
			margin: 0;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			background-color: #2C2A29;
			padding: 5px 10px;
			color: #fff;
			}
			figure.bbb figcaption {
			position: absolute;
			bottom: 42%;
			left: 25px;
			text-align: left;
			opacity: 0;
			padding: 5px 60px 5px 10px;
			font-size: 0.8em;
			font-weight: 500;
			letter-spacing: 1.5px;
			}
			figure.bbb figcaption p {
			margin: 0;
			}
			figure.bbb a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			}
			figure.bbb:hover img,
			figure.bbb.hover img {
			zoom: 1;
			filter: alpha(opacity=35);
			-webkit-opacity: 0.35;
			opacity: 0.35;
			}
			figure.bbb:hover .title:before,
			figure.bbb.hover .title:before,
			figure.bbb:hover .title:after,
			figure.bbb.hover .title:after,
			figure.bbb:hover .title div:before,
			figure.bbb.hover .title div:before,
			figure.bbb:hover .title div:after,
			figure.bbb.hover .title div:after {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			}
			figure.bbb:hover .title:before,
			figure.bbb.hover .title:before,
			figure.bbb:hover .title:after,
			figure.bbb.hover .title:after {
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
			}
			figure.bbb:hover figcaption,
			figure.bbb.hover figcaption {
			opacity: 1;
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
			}

			@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
			@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
			figure.aaa {
			position: relative;
			top: 55px;
			right: -485px;
			font-family: 'Raleway', Arial, sans-serif;
			position: relative;
			overflow: hidden;
			margin: 10px;
			min-width: 230px;
			max-width: 315px;
			width: 100%;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background-color: #000;
			border-radius: 20px 40px 60px 80px / 80px 60px 40px 20px;
			}
			figure.aaa *,
			figure.aaa *:before,
			figure.aaa *:after {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.55s ease;
			transition: all 0.55s ease;
			}
			figure.aaa img {
			max-width: 100%;
			backface-visibility: hidden;
			vertical-align: top;
			opacity: 0.9;
			}
			figure.aaa .title {
			position: absolute;
			top: 58%;
			left: 25px;
			padding: 5px 10px 10px;
			}
			figure.aaa .title:before,
			figure.aaa .title:after {
			height: 2px;
			width: 400px;
			position: absolute;
			content: '';
			background-color: #fff;
			}
			figure.aaa .title:before {
			top: 0;
			left: 10px;
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			}
			figure.aaa .title:after {
			bottom: 0;
			right: 10px;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			}
			figure.aaa .title div:before,
			figure.aaa .title div:after {
			width: 2px;
			height: 300px;
			position: absolute;
			content: '';
			background-color: #fff;
			}
			figure.aaa .title div:before {
			top: 10px;
			right: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			}
			figure.aaa .title div:after {
			bottom: 10px;
			left: 0;
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			}
			figure.aaa h4 {
			margin: 0;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			background-color: #2C2A29;
			padding: 5px 10px;
			color: #fff;
			}
			figure.aaa figcaption {
			position: absolute;
			bottom: 42%;
			left: 25px;
			text-align: left;
			opacity: 0;
			padding: 5px 60px 5px 10px;
			font-size: 0.8em;
			font-weight: 500;
			letter-spacing: 1.5px;
			}
			figure.aaa figcaption p {
			margin: 0;
			}
			figure.aaa a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			}
			figure.aaa:hover img,
			figure.aaa.hover img {
			zoom: 1;
			filter: alpha(opacity=35);
			-webkit-opacity: 0.35;
			opacity: 0.35;
			}
			figure.aaa:hover .title:before,
			figure.aaa.hover .title:before,
			figure.aaa:hover .title:after,
			figure.aaa.hover .title:after,
			figure.aaa:hover .title div:before,
			figure.aaa.hover .title div:before,
			figure.aaa:hover .title div:after,
			figure.aaa.hover .title div:after {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			}
			figure.aaa:hover .title:before,
			figure.aaa.hover .title:before,
			figure.aaa:hover .title:after,
			figure.aaa.hover .title:after {
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
			}
			figure.aaa:hover figcaption,
			figure.aaa.hover figcaption {
			opacity: 1;
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
			}